tr{
		background-color: rgb(237, 244, 234);
	}
	.tblcontent{
		background-color: rgba(255, 255, 255, 1)!important;
	}
	.td-col{
		background-color:rgb(252, 248, 233) ;
		 height:21;
		  text-align:center;
	}
#hide{
    visibility: hidden;
}